* {
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 82%;

}

h2 {
    font-size: 75px;
}

body {
    font-family: 'Overpass', sans-serif;
    overflow-x: hidden;
}

.mini-info h1 {
    color: #8bd876;
    margin: 0;
    font-weight: 400;
    font-size: 75px;
}

.concert_start {
    background: #1f1f1f url(../img/Background.jpg);
    background-size: cover;
    padding: 220px 0px 160px 0;
}

.concert_start .wrapper {
    display: flex;
}

.mini-info p {
    color: #fff;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 30px;
}

.data p {
    width: 80%;
}

.data h3 {
    padding: 30px 0px;
    font-size: 35px;
}

.data1,
.data2 {
    position: relative;
}

.data1:before,
.data2:before {
    content: "";
    position: absolute;
    border: 3px solid #8bd976;
    width: 105px;
    height: 15px;
    border-radius: 20px;
    top: -40px;
}

.data3,
.data4 {
    position: relative;
}

.data3:before,
.data4:before {
    content: "";
    position: absolute;
    border: 3px solid #8bd976;
    width: 105px;
    height: 15px;
    border-radius: 20px;
    bottom: -60px;
}

.mini-info {
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
}

.header-knopka {
    display: flex;
}

.schedules {
    color: #1f1f1f;
    text-decoration: none;
    border: 3px;
    border-radius: 13px;
    text-decoration: none;
    color: #000;
    padding: 1.5px;
    background-color: #8bd975;
    border-radius: 17px;
    padding: 3px 8px;
}

.learn-more {
    color: #8bd975;
    text-decoration: none;
    border: 2px solid #8bd975;
    border-radius: 17px;
    padding: 3px 8px;
    text-decoration: none;
    background-color: transparent;
    margin-top: 15px;

}

.image {
    padding: 55px;
}

.data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    color: #fff;
    align-items: center;
    align-content: flex-start;
    align-self: center;

}

.data h3 {
    color: #8bd876;
}

.data1,
.data2,
.data3,
.data4 {
    width: 50%;
}

.tour {
    background-image: url(../img/background_first.jpg);
    background-size: cover;
}

.tour .wrapper {
    display: flex;
    column-gap: 140px;
    padding: 270px 0 220px 0;
    align-items: center;
}

.main-content {
    display: inline-block;
    width: 50%;

}

.main-content h2 {
    font-size: 79px;
}

.half {
    width: 50%;
}

.half h2 {
    font-size: 35px;
}

hr {
    border: 1.5px solid #000;
    margin: 40px 0;
}

.artists {
    background-image: url(../img/background_three.jpg);
}

.figure-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.artists h2 {
    text-align: center;
    color: #8bd876;
    font-size: 79px;
    padding-top: 177px;
}

.artists p:first-child {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 50%;

}

.artists h3 {
    color: #8bd876;
}

.the-top-artists {
    text-align: center;
    color: #fff;
    padding-bottom: 113px;
    width: 45%;
    text-align: center;
    margin: 0 auto;
}

.artists li {
    color: #fff;
    list-style: none;
}

.figure-list figure {
    width: 45%;
}

.figure-list figure img {
    width: 100%;
}

.figure-list p {
    color: #8bd876;
}

.figure-list figcaption {
    display: flex;
    justify-content: space-between;
    padding: 38px 0px 85px 0;
}

figcaption h3 {
    font-size: 30px;
}

.what-new {
    background-image: url(../img/background_four.jpg);

    padding: 20px;
}

.what-new .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
}

.what-new {
    padding: 180px 0;
}

.what-new h2 {
    font-size: 79px;
}

.what-new p {
    padding-bottom: 30px;
}

.buy-ticket {
    border: 3px solid #222;
    border-radius: 13px;
    text-decoration: none;
    color: white;
    padding: 2px;
    background-color: #222;
    margin-right: 30px;
    border-radius: 17px;
    padding: 3px 8px;
}

.learn-more2 {
    text-decoration: none;
    border: 3px solid #000;
    border-radius: 13px;
    text-decoration: none;
    color: #000;
    background-color: #8bd975;
    border-radius: 17px;
    padding: 3px 8px;
}

.fea-art {
    background-image: url(../img/background_five.jpg);
    display: flex;

}

.p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 68px;
}

.p p {
    width: 30%;
    color: #fff;
    text-align: right;
    margin: 10px;
}

.introducing p {
    width: 87%;
    padding-bottom: 30px;
    color: #fff;
}

.main-in-fea-art {
    display: flex;
    align-items: center;
}

.time {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 35%;
}

.time time {
    color: #8bd876;
    font-size: 35px;
    margin: 20px;
}

.time p {
    color: #fff;
    padding-bottom: 116px;
}

.fea-art h2 {
    font-size: 79px;
    color: #8bd876;
}

.fea-art a {
    color: #212121;
    border: 3px;
    border-radius: 13px;
    text-decoration: none;
    padding: 1.5px;
    background-color: #8bd975;
    border-radius: 17px;
    padding: 3px 8px;
}

.our-shows {
    background-image: url(../img/backroundourshows.jpg);
    display: flex;
}

.our-shows h3 {
    font-size: 35px;
}

.for-year {
    padding-top: 100px;
}

.shows-data ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.for-year,
.shows {
    text-align: center;
}

.our-shows li {
    list-style: none;
    width: 30%;
}

.our-shows p {
    padding-bottom: 24px;
}

.our-shows h2 {
    padding-bottom: 88px;
}

.our-shows a {
    display: inline-block;
    border: 3px solid #212121;
    border-radius: 13px;
    text-decoration: none;
    color: #8bd975;
    background-color: #212121;
    margin-bottom: 88px;
    border-radius: 17px;
    padding: 3px 8px;
}

.merch {
    background-image: url(/img/background_seven.jpg);
    padding-bottom: 126px;
    display: flex;
    padding-top: 115px;

}

.merch figure {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.merch figcaption {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 55px 24px;
    width: 100%;
}

.merch-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 112px;
}

.merch-img img {
    width: 100%;
}

.merch h3 {
    font-size: 35px;

}

.merch h2 {
    color: #8bd975;
}

.merch p {
    width: 55%;
    margin: 0 auto;
    color: #fff;
    padding-bottom: 67px;
}

.merch h2,
.merch p {
    text-align: center;
}

.merch a {
    text-decoration: none;
    border: 3px solid #212121;
    border-radius: 13px;
    text-decoration: none;
    color: #8bd876;
    background-color: #212121;
    border-radius: 17px;
    padding: 3px 8px;
}

.merch-img figcaption {
    background: #8bd975;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer {
    background-image: url(/img/rectangle_eight.jpg);
}

.the-company,
.our-artists,
.legal {
    width: 30%;
}

.the-company h3 {
    padding-top: 40px;
    font-size: 35px;
}

.our-artists h3 {
    padding-top: 40px;
    font-size: 35px;
}

.legal h3 {
    font-size: 35px;
    padding-top: 40px;
}

footer h4 {
    font-size: 17px;
    padding: 41px 0px;

}

.footer li {
    list-style: none;
}
.footer ul{
    padding: 0;
}

@media screen and (max-width:1360px) {
    .concert_start .image {
        padding: 30px;

    }

    .concert_start h1 {
        font-size: 50px;
    }

    .header-knopka {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .mini-info {
        padding: 70px 0px;
    }
}

@media screen and (max-width:1240px) {

    .the-company,
    .our-artists,
    .the-company {
        width: 35%;

    }

    .data,
    .mini-info,
    .image {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
    }

    .concert_start {
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (max-width:1180px) {

    .schedules,
    .learn-more {
        padding: 5px 15px;
        width: 100%;
        text-align: center;
    }

    .merch figcaption h3 {
        font-size: 25px;
    }

    .the-company,
    .our-artists,
    .the-company {
        width: 30%;

    }
    .fea-art h2{
        font-size: 65px;
    }
    .main-content h2{
        font-size: 65px;
    }
}