* {
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 82%;

}

body {
    font-family: 'Overpass', sans-serif;
}

.mini-info h1 {
    color: #8bd876;
    margin: 0;
    font-weight: 400;
    font-size: 75px;
}

.concert_start {
    background: #1f1f1f url(../img/Background.jpg);
    background-size: cover;
    display: flex;
    padding: 131px 202px;
}

.mini-info p {
    width: 83%;
    color: #fff;
    font-size: 14px;
    line-height: 19px;
}

.mini-info {
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
}

.header-knopka {
    display: flex;
}

.schedules a {
    color: #1f1f1f;
    text-decoration: none;
    text-decoration: none;
    border:3px;
    border-radius: 13px;
    text-decoration: none;
    color:#000;
    padding: 1.5px;
    background-color:#8bd975;

}

.learn-more a {
    color: #8bd975;
    text-decoration: none;
    border: 2px solid #8bd975;
    border-radius: 13px;
    text-decoration: none;
    padding: 1.5px;
    background-color: #000;

}

.image {
    padding: 55px;
}

.data {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    color: #fff;
    align-items: center;
    align-content: flex-start;

}

.data h2 {
    color: #8bd876;
}

.data1,
.data2,
.data3,
.data4,
.data1 p,
.data2 p,
.data3 p,
.data4 p {
    width: 50%;
}

.tour {
    background-image: url(/img/Background_1.jpg);
    background-size: cover;
}

.tour .wrapper {
    display: flex;
    column-gap: 140px;
    padding: 270px 0 220px 0;
    align-items: center;
}

.main-content {
    display: inline-block;
    width: 50%;

}

.main-content h2 {
    font-size: 79px;
}

.half {
    width: 50%;
}

hr {
    border: 1.5px solid #000;
    margin: 40px 0;
}

.artists {
    background-image: url(/img/Background_3.jpg);
}

.artists h2 {
    text-align: center;
    color: #8bd876;
    font-size: 79px;
}

.artists p:first-child {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 50%;

}

.artists p,
.artists h3 {
    color: #8bd876;
}

.artists li {
    color: #fff;
}

figcaption {
    display: flex;

}

figcaption h3 {
    font-size: 30px;
}

.what-new {
    background-image: url(/img/Background_4.jpg);
    display: flex;
}

.what-new h2 {
    font-size: 79px;
}

.buy-ticket {
    border: 3px;
    border-radius: 13px;
    text-decoration: none;
    color: white;
    padding: 2px;
    background-color: #222222;
}

.learn-more {
    text-decoration: none;
    border: 3px solid #000;
    border-radius: 13px;
    text-decoration: none;
    color: #000;
    padding: 1.5px;
    background-color: #8bd975;
}

.fea-art {
    background-image: url(/img/Background_5.jpg);
}

.fea-art h2 {
    font-size: 79px;
    color: #8bd876;
}

.fea-art a {
    color: #212121;
    border: 3px;
    border-radius: 13px;
    text-decoration: none;
    padding: 1.5px;
    background-color: #8bd975;
}